.Film__block{
    margin-right: 100px;
    position: relative;
}
.Film__block .rating{
    position: absolute;
    left: 10px;
    top: 10px;
    background-color: #3bb33b;
    padding: 3px 15px;
    font-size: 18px;
    font-weight: 700;
    border-radius: 8px;
}
a{
    color: white;
}