section{
    background-color: #f4f4f4;
}
.Main{
    width: 80%;
    margin: auto;
    background-color: white;
    padding: 50px 50px;
}
.Main_top{
    display: flex;
    justify-content: space-between;
}
.Main__left,.Main_right{
    width: 20%;
}
.Main__center{
    width: 60%;
}
.player{
    width: 100%;
    padding-top: 100px;
}
.player h1{
    font-size: 34px;
    padding-bottom: 40px;
}
.player_mini{
    width: 100% !important;
    height: 600px !important;
}
.film_info{
    padding-top: 20px;
}
.film_info h3{
    font-size: 21px;
    font-weight: 700;
}
.film_info ul li{
    display: flex;
    list-style-type: none;
    padding-top: 15px;
}
.film_info p{
    width: 200px;
    padding-right: 10px;
    font-weight: 600;
    font-size: 15px;
}
.film_info ul li:last-child p{
    padding-right: 190px;
}
.raiting{
    color: white;
    background-color: #3bb33b;
    text-align: center;
    font-size: 18px;
    padding: 5px;
    border-radius: 8px;
}